@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><strong>Professor: @ViewData["Professor"]</strong></p>
<p><strong>Student: @ViewData["Student"]</strong></p>
