@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Support:</strong> <a href="guilherme_urbanas@hotmail.com">guilherme_urbanas@hotmail.com</a><br />
</address>
